@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: Roboto;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #1F2937;
    color: white;
    width: 100%;
}


.hero .hero-content{
    padding: 5% 300px 10% 300px;
}
.hero .hero-content h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 0;
    color: #F9FAF8;
}

.hero .hero-content img{
    width: 500px;
    height: 250px;
    background-color: gray;
}
.hero section{
    width: 50%;
}

.hero-content {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #d8d9db;
}

header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.hero header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px 0px 300px;
}

.hero-content p{
    color: #E5E7EB;
}

.hero .hero-content button{
    width: 120px;
    height: 40px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    font-size: large;
    font-weight: 600;
    border: none;
}

/* End of Hero section -> Beginning of information block section */

.information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocks-information{
    font-size: 20px;
    font-weight: 900;
    color: #1F2937;
}

.block-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.block{
    width: 120px;
    height: 120px;
    border: #3882F6 solid;
    border-radius: 6px;
}

.subtext{
    text-align: center;

}